.well.sidebar-nav
  %ul.nav.nav-list
    %li.nav-header Links
    %li= link_to "Harvest", "http://excellence.harvestapp.com"
    %li= link_to "Fulcrum", "http://fulcrum.iephq.com/projects/1"
    %li= link_to "Redmine", "http://redmine.iephq.com/projects/devchat-tv"
    %li= link_to "Xoom", "https://www.xoom.com/money-transfer-fees"
